# Copyright (c) 2021 Pelion.
# SPDX-License-Identifier: Apache-2.0

menu "Mbed TLS options"

config IZUMA_MBEDTLS_FILE
    bool "Built-in Mbed TLS, configuration from file"
    select MBEDTLS

if IZUMA_MBEDTLS_FILE
    config MBEDTLS_CFG_FILE
        string "Use built-in Mbed TLS with configuration file"
        default "config-tls-pelion.h" if IZUMA_MBEDTLS_FILE
endif

config IZUMA_MBEDTLS_LIB_NAME
    string
    default "mbedTLS" if MBEDTLS
    help
      This option allows to specify one or more mbedtls library files to be
      linked with Izuma DM. Separate multiple values with space " ".

endmenu
