# Copyright (c) 2021 Pelion.
# Copyright (c) 2022 Izuma Networks
# SPDX-License-Identifier: Apache-2.0

menuconfig IZUMA_CLIENT
    bool "Izuma Device Management Client Library"

    depends on NEWLIB_LIBC
    depends on CPLUSPLUS
    depends on LIB_CPLUSPLUS

    select REBOOT
    select MPU_ALLOW_FLASH_WRITE
    select IZUMA_SOURCES

if IZUMA_CLIENT

config IZUMA_SOURCES
    bool "Build Izuma client from sources"
    help
      Build Izuma client from sources.

config APP_LINK_WITH_IZUMA_CLIENT
    bool "Link application with Izuma client"
    depends on IZUMA_SOURCES
    default y
    help
      Request Zephyr to link the Izuma client library with the application.

if IZUMA_SOURCES
rsource "Kconfig.client"
rsource "Kconfig.mbedtls"
rsource "Kconfig.pal"
endif

endif
